<div class="row card-group p-5">
  <h1 class="text-center mb-3">Detalles Cita</h1>
  <div class="card col-md-3 mt-4">
    <div class="card-body">
      <h3 class="text-center mb-4">Datos Paciente</h3>
      <div class="mb-3">
        <label for="nombre">Nombres y Apellidos</label>
        <input
          type="text"
          name="nombre"
          value="{{personas.nombre}} {{personas.apellido}}"
          placeholder=" Escribe un nombre"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="documento">Documento</label>
        <input
          type="text"
          name="cedula"
          value="{{citas.cedula}}"
          placeholder=" Escribe una cedula"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="edad">Edad</label>
        <input
          type="text"
          name="edad"
          value="{{personas.edad}}"
          placeholder=" Escribe una edad"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="documento">Telefono</label>
        <input
          type="text"
          name="telefono"
          value="{{personas.telefono}}"
          placeholder=" Escribe un telefono"
          class="form-control mb-3"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="card col-md-3 mt-4">
    <div class="card-body">
      <h3 class="text-center mb-4">Datos Doctor</h3>
      <div class="mb-3">
        <label for="nombre">Nombres y Apellidos</label>
        <input
          type="text"
          name="nombre"
          value="{{doctor.nombre}}"
          placeholder=" Escribe un nombre"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="especialidad">Especialidad</label>
        <input
          type="text"
          name="especialidad"
          value="{{citas.especialidad}}"
          placeholder=" Escribe una especialidad"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="consultorio">Consultorio</label>
        <input
          type="text"
          name="consultorio"
          value="{{doctor.consultorio}}"
          placeholder=" Escribe un consultorio"
          class="form-control mb-3"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="especialidad">Correo</label>
        <input
          type="text"
          name="correo"
          value="{{doctor.correo}}"
          placeholder=" Escribe un correo"
          class="form-control mb-3"
          readonly
        />
      </div>
    </div>
  </div>
</div>;