<div class="row">
  <div id="container p-5">
    <h1 class="text-center mt-4">Citas</h1>
  </div>
  {{#each citas}}
    <div class="col-md-3 mt-4">
      <div class="card">
        <div class="card-body">
          <h3>Documento: {{cedula}}</h3>
          <p><b>Especialidad: </b> {{especialidad}}</p>
        </div>
        <div
          class="card-footer d-flex justify-content-between align-items-center"
        >
          <a href="/citas/delete/{{_id}}" class="btn btn-danger">
            Eliminar
          </a>
          <a href="/citas/detalle/{{cedula}}/{{especialidad}}" class="btn btn-info">
            Detalles
          </a>
          <a href="/citas/edit/{{_id}}" class="btn btn-secondary">
            Editar
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p class="text-white display-3 text-center my-5">No hay citas agendadas</p>
  {{/each}}
</div>